MYSQL_HOST=localhost
MYSQL_USER=root
MYSQL_PASSWORD=
MYSQL_DATABASE=lumex_2
MYSQL_PORT=3306

PORT=3000

# Opcional para recuperacion por correo
SMTP_HOST=
SMTP_PORT=
SMTP_USER=
SMTP_PASS=
SMTP_FROM=

# Opcional para app movil (tunnel/local)
EXPO_PUBLIC_API_URL=http://localhost:3000
