node_modules/
.env
.env.*
!.env.example

lumex_2_backup.sql
*.log

.expo/
dist/
web-build/

.gradle/
.idea/
local.properties
gradle/gradle-daemon-jvm.properties

.DS_Store
Thumbs.db

# Proyecto Android de prueba no utilizado por LUMEX
app/
build.gradle.kts
gradle.properties
gradle/
gradlew
gradlew.bat
settings.gradle.kts

# Proyecto Android de prueba no utilizado por LUMEX
app/
build.gradle.kts
gradle.properties
gradle/
gradlew
gradlew.bat
settings.gradle.kts
